.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--base-font-family), sans-serif;
  font-variation-settings: "wght" var(--base-font-weight, 715);
  color: var(--font-color);
  background-image:
    repeating-linear-gradient(
      90deg,
      var(--background-title-color, #d3d3d3),
      var(--background-title-color, #d3d3d3),
      2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--background-title-color, #d3d3d3),
      var(--background-title-color, #d3d3d3),
      2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      var(--background-grad-color-start, #e7e7e7) 0.01%,
      var(--background-grad-color-end, #1a1a1a) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  padding-block: 100px;
}

.card {
  inline-size: var(--card-inline-size);
  max-inline-size: 700px;
  background-color: var(--background-base-color, #fff);
  margin: auto;
  border: 2px solid var(--accent-color);
}

.header {
  padding-block-end: 98px;
}

.header__card {
  font-family: var(--accent-font-family);
  font-weight: 400;
  text-align: center;
  padding-inline: clamp(1rem, -1.3327rem + 9.9531vw, 7.625rem);
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  outline: 2px solid var(--accent-color);
}

.header__title-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  font-family: var(--base-font-family), sans-serif;
  font-variation-settings: "wght" var(--accent-font-weight, 715);
  font-size: 18px;
  padding: 4px 10px;
}

.card__image {
  overflow: hidden;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__image img {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-position: center;
  object-fit: cover;
}

.card__content {
  position: relative;
}

.card__content::before {
  content: "</html>";
  position: absolute;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  top: 26px;
  right: 26px;
  inline-size: 98px;
  block-size: 14px;
  text-shadow: 1px var(--text-stroke);
  opacity: 50%;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke)) {
  .card__content::before {
    -webkit-text-stroke: 1px var(--text-stroke);
  }
}

@supports (text-stroke: 1px var(--text-stroke)) {
  .card__content::before {
    text-stroke: 1px var(--text-stroke);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  font-variation-settings: "wght" var(--base-font-weight, 410);
  padding: 25px;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__reaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-self: end;
  gap: 6px;
}

/*----BUTTONs----*/

.card__icon-button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: outline 0.3s ease;
}

.card__icon-button svg {
  border: 2px solid transparent;
}

.card__icon-button:focus-visible svg {
  border: 2px solid var(--accent-color);
}

.button {
  position: relative;
  background-color: transparent;
  font-size: 14px;
  line-height: 90%;
  border: 2px solid var(--accent-color);
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  color: #fff;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 9px 17px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  text-align: center;
}

.save-button {
  display: flex;
  gap: 8px;
  align-items: center;
  outline: none;
  border: none;
  padding: 13px 20px;
}

.card:has(.save-button) {
  --card-inline-size: auto;
}

/*----DIALOG----*/

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  max-inline-size: 353px;
  padding: 30px;
}

.dialog__content {
  display: flex;
  gap: 20px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  align-items: center;
}

.dialog__content svg {
  overflow: visible;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0px;
}

.submit-button {
  padding: 10px;
}

/*----FILTERs----*/

.first-sprint-start {
  filter: grayscale(75%);
}

.first-sprint-end {
  filter: saturate(350%);
}

.second-sprint-start {
  filter: hue-rotate(30deg);
}

.second-sprint-end {
  filter: invert(75%);
}

.third-sprint-start {
  filter: sepia(0.9);
}

.third-sprint-end {
  filter: blur(10px);
}

.now {
  filter: hue-rotate(90deg) blur(2px) opacity(60%);
}

/*----MEDIA----*/

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    padding: 15px 20px;
  }

  .save-button svg {
    width: 28px;
    height: 28px;
  }
}

/*----ANIMATION----*/

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s ease-in forwards;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: heart-sparks 0.3s 0.3s ease-in forwards;
}